/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 * {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
 }

 .top{
    background-color: #fff;
    color: #333;
    font-family: verdana, arial, helvetica, sans-serif;
    font-size: 13px;
    line-height: 18px;
    margin: 33px;
 }

 .topstart:visited {
    font-size: 13px;
    line-height: 18px;
    margin: 33px;
    color: #666;
    font-family: verdana, arial, helvetica, sans-serif;
 }

  .topstart:link {
    font-size: 13px;
    line-height: 18px;
    margin: 33px;
    color: #666;
    font-family: verdana, arial, helvetica, sans-serif;
 }

 .topstart:hover {
   color: white;
   background: black;
 }

 body {
    background-color: #fff;
    color: #333;
    font-family: verdana, arial, helvetica, sans-serif;
    font-size: 13px;
    line-height: 18px;
    margin: 33px;
}

#notice {
    color: green;
}

p, ol, ul, td {
    font-family: verdana, arial, helvetica, sans-serif;
    font-size: 13px;
    line-height: 18px;
    margin: 33px;
}

a:link {
  color : #333;
}

a:visited {
  color : #333;
}

table {
  margin: 17px 0 17px;
}

th {
  padding: 1px 1px 5px;
}

td {
  padding: 1px 5px 7px;
}

h4 {
  margin-top: 15px;
}

.submit {
  margin: 10px 0 0;

}

.choice {
  margin-left: 0;
  margin-top: 0;
}

.back:link {
  color : #666;
}

.back:visited {
  color : #666;
}

.edittext {
  margin-left: 0;
}
